/* My Awesome Styles */




@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie|Rock+Salt&display=swap');



/*Parent Container*/

body {

background-image: url(../img/LinedPaper.jpg);
background-size: 100%;

}

main { 
display: grid;
grid-template-columns: 1fr 1fr;
margin: 0 auto;
margin-top: 50px;
width: 80%;
}

footer {
  width: 80%;
  margin: 0 auto;
}

/*Trailer*/
.trailer {
  width: 80%;
  margin: 0 auto;
}

/* Type */
h1,
.info p {
font-family: 'Reenie Beanie', sans-serif;
text-align: center;
}

h1 {
 font-size: 5em;
 color: red;
}

.info p {
  font-size: 1.5em;
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
}

ul {
  list-style: none;
  font-family: sans-serif;
  text-align: center;
  font-size: .75em;
}

h3,
blockquote {
  text-align: center;
  font-family: 'Reenie Beanie', sans-serif;
  font-size: 2em;
  margin: 10px;
}

/* The Cast of the Movie*/
.cast {  
display: flex;
flex-wrap: wrap;
justify-content: center;
}

figure {
  margin: .25em;
  overflow: hidden;
  position: relative;
  
}

figure h2 {
  position: absolute;
  font-family: 'Reenie Beanie', sans-serif;
  font-size: 1.25em;
  transition: all 100ms ease-out;
  width: 100%;
  opacity: 0;
  bottom: 0px;
  height: 1em;
  background-color: white;
  padding: .1em;
  text-align: center;
  border-radius: 5%;
}

figure:hover h2{
  opacity: 1;
}

img {
width: 25vh;
border-radius: 5%;
}


/* Custom UI Controls */
.plyr--full-ui input[type="range"] {
color: blue;
}


/* Media Queries */


@media only screen 
and (min-width: 0) 
and (max-width: 48em)  { 
  
 
  main {
    display: block;
  }

  img {
    width: 15vh;
  }

  h1 {
    font-size: 2em;
  }

  figure h2 {
    font-size: 1em;
  }
  h3,
  blockquote {
    font-size: 1.5em;
  }
   

}

/* Tablet:  
* 768px = 48em 
  1023px = 63.9375em;
*/
@media only screen 
and (min-width: 48em) 
and (max-width: 64em)  {
  

     main {
      display: block;
    }
  
    img {
      width: 20vh;
    }

    h1 {
      font-size: 3em;
    }
  
    figure h2 {
      font-size: 1em;
    }

     
} 
  
}

/* Desktop: 
* 1024px = 64em
* 64em and larger
*/
@media screen 
and (min-width: 64em) 
and (max-width: 90em) { 



}

/* Wide Desktop: 
* 1440px = 90em
* 90em and wider
*/
@media screen and (min-width: 90em) { 



}



